fastapi
uvicorn[standard]
sqlalchemy
pydantic
pydantic-settings
pymysql
python-dotenv
bcrypt==4.1.2
passlib[bcrypt]==1.7.4
python-jose[cryptography]
jinja2
chromadb
langgraph
alembic
python-multipart
httpx>=0.24.0